footer {
  background-color: #1995AD;
  color: #A1D6E2;
  margin-top: 42px;
}

footer a {
  color: #F1F1F2;
}

footer .copyright {
    font-size: 12px;
    margin-top: 12px;
    margin-left: 12px;
}

footer .footer-content {
  width: 90%;
}

@media only screen and (max-width: 480px) {
  footer .footer-content {
    width: 100%;
  }
  footer .copyright {
    width: 100px;
  }
}
